$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */

body {
    background: #2c2c2c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.navbar-inner {
    border-radius: 0;
}

.hero-unit {
    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
}

.player {
    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 40px;
    .player-place {
        margin-right: 10px;
    }
}

.new-players-box {
    margin: 10px 0;
    textarea {
        height: 200px;
        width: 500px;
    }
}

.player-score {
    font-size: 40px;
    padding: 20px;
    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
    border-radius: 4px;
    margin: 30px 0;
    display: inline-block;
}

.auto-button-group {
    display: inline-block;
    margin-left:20px;
    .btn {
        display: block;
        margin-bottom:10px;
    }
}

.player-score-header {
    width: 155px;
    margin: 0 auto;
}

.player-score-list {
    width: 500px;
    margin: 0 auto;
    button {
        margin: 5px;
        &.disabled {
            cursor: pointer;
        }
    }
}

.score-slider-group {
    margin-bottom: 20px;
}

.button-group {
    button {
        margin-right: 15px;
    }
}